.title-1 {
  font-size: 27px;
  font-weight: 700;
}
.title-2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--accent);
}
.title-3 {
  font-size: 21px;
  font-weight: 700;
  color: var(--accent);
}
@media (max-width: 990px) {
  .title-1 {
    font-size: 24px;
  }
  .title-2 {
    font-size: 22px;
  }
  .title-3 {
    font-size: 20px;
  }
}
@media (max-width: 625px) {
  .title-1 {
    font-size: 20px;
  }
  .title-2,
  .title-3 {
    font-size: 18px;
  }
}
